:root {
    background: url("https://source.unsplash.com/xDwEa2kaeJA/1600x900");
    background-repeat: no-repeat;
    background-size: cover;
}

.user {
    max-width: 500px;
    background: #f4f7f8;
    margin: 20px auto;
    padding: 50px;
    background: #f4f7f8;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    font-size: 40px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.user label {
    display: block;
    margin-bottom: 8px;
}

.user input[type="text"],
.user input[type="password"],
.user input[type="number"],
.user input[type="email"],
.user select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255, 255, 255, .1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color: #5d5d5d;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
}

.user select {
    -webkit-appearance: menulist-button;
    height: 35px;
}

.user input[type="submit"] {
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: auto;
    border: 1px solid #16a085;
    border-radius: 20px;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}

.user input[type="submit"]:hover {
    background: #109177;
}